.sideNav-con{
    height: 100vh;
    width: 18vw;
    background-color: white;
}
.sideNav-elements{
    width: 100%;
    height: 80%;
    padding: 20px 25px;
}
.sideNav-element{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin: 40px 0px;
    cursor: pointer;
    color: #8d8d8d;
    text-decoration: none;
}
.sideNav-element-active{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin: 40px 0px;
    cursor: pointer;
    color: #605bff;
    text-decoration: none;
}
.sideNav-element-img{
    width: 20px;
    height: 20px;
    margin: 0px 20px 0px 0px;
    font-size: 20px;
}
.sideNav-element p{
    font-size: 15px;
}
.sideNav-header{
    display: flex;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px 0px 0px;
    cursor: pointer;
}
.sideNav-header-icon{
    color: #605bff;
    font-size: 60px;
}
.sideNav-header h3{
    font-size: 25px;
    color: #242424;
}
.sideNav-close-btn{
    display: none;
}
.sideNav-con-open{
    height: 100vh;
    width: 18vw;
    background-color: white;
}

@media screen and (max-width: 950px) {
  .sideNav-con{
    position: absolute;
    top: 0;
    left: -30vw;
    width: 30vw;
    height: 100vh;
  }
  .sideNav-con-open{
    position: absolute;
    top: 0;
    left: 0;
    width: 30vw;
    height: 100vh;
    background-color: white;
  }
  .sideNav-close-btn{
    display: block;
    position: absolute;
    top: 8vh;
    left: 25vw;
  }
  .sideNav-header{
    width: 70%;
  }
}
@media screen and (max-width: 650px) {
  .sideNav-con{
    position: absolute;
    top: 0;
    left: -50vw;
    width: 50vw;
    height: 100vh;
  }
  .sideNav-con-open{
    position: absolute;
    top: 0;
    left: 0;
    width: 50vw;
    height: 100vh;
    background-color: white;
  }
  .sideNav-close-btn{
    display: block;
    position: absolute;
    top: 6vh;
    left: 42vw;
  }
  .sideNav-header{
    width: 70%;
  }
  .sideNav-element-img{
    font-size: 18px;
  }
  .sideNav-element{
    margin: 30px 0px;
  }
  .sideNav-element-active{
    margin: 30px 0px;
  }
  .sideNav-element p{
    font-size: 13px;
  }
  .sideNav-element-active p{
    font-size: 13px;
  }
  .sideNav-header{
    width: 50%;
  }
  .sideNav-header-icon{
    color: #605bff;
    font-size: 40px;
}
.sideNav-header h3{
    font-size: 20px;
    color: #242424;
}
}
@media screen and (max-width: 450px) {
  .sideNav-con{
    position: absolute;
    top: 0;
    left: -70vw;
    width: 70vw;
    height: 100vh;
  }
  .sideNav-con-open{
    position: absolute;
    top: 0;
    left: 0;
    width: 70vw;
    height: 100vh;
    background-color: white;
  }
  .sideNav-close-btn{
    display: block;
    position: absolute;
    top: 5.5vh;
    left: 60vw;
    font-size: 13px;
  }
  .sideNav-header{
    width: 70%;
  }
  .sideNav-element-img{
    font-size: 18px;
  }
  .sideNav-element{
    margin: 30px 0px;
  }
  .sideNav-element-active{
    margin: 30px 0px;
  }
  .sideNav-element p{
    font-size: 13px;
  }
  .sideNav-element-active p{
    font-size: 13px;
  }
  .sideNav-header{
    width: 50%;
  }
  .sideNav-header-icon{
    color: #605bff;
    font-size: 30px;
}
.sideNav-header h3{
    font-size: 16px;
    color: #242424;
}
}