.uploads-con{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.upload-excel-con{
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}
.upload-excel-con::-webkit-scrollbar{
    display: none;
}
.uploads-input{
    width: 40%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background-color: white;
}
.uploads-con2{
    border-radius: 10px;
    width: 35vw;
    height: 48vh;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    flex-direction: column;
}
.upload-div{
    height: 80%;
    width: 90%;
    border: 1px solid #e3e3e3;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.upload-file-remove{
    color: red;
    margin: 20px 8px 0px 0px;
    text-align: center;
    cursor: pointer;
}
.upload-file-browse{
    color: #605bff;
    margin: 0px 8px;
    cursor: pointer;
}
.upload-excel-img{
    width: 50px;
    height: 35px;
}
.upload-uploaded{
    width: 90%;
    height: 45px;
    background-color: #9793ff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
}
.upload-button{
    width: 90%;
    height: 45px;
    background-color: #605bff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
    cursor: pointer;
}
.upload-button p{
    margin: 0px 0px 0px 10px;
}

.upload-loader-con{
    width: 90%;
    height: 45px;
    background-color: #605bff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    color: white;
}
.upload-loader {
    border: 2px solid transparent;
    border-top: 2px solid #f3f3f3;
    border-left: 2px solid #f3f3f3;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 0.5s linear infinite;
  }
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
.excel-table{
    width: 100%;
    height: 100%;
    /* border-collapse: collapse; */
    font-size: 12px;
    margin: 0px 20px;
}
.excel-con{
    background-color: #f8faff;
    padding: 20px;
}
.excel-con h4{
    margin: 0px 0px 30px 0px;
}
.excel-tbody{
    height: 50vh;
    width: 100%;
    overflow-y: scroll;
}
.excel-table-row{
    width: 100%;
    height: 10vh;
    margin: 10px 0px;
    border-radius: 10px;
    background-color: white;
    /* border: 1px solid black; */
}
th, td{
    padding: 8px;
    /* margin: 0px; */
    text-align: left;
}
.excel-selectedTags-item{
    background-color: #605bff;
    padding: 3px 8px;
    border-radius: 3px;
    margin: 0px 4px;
    color: white;

}
.excel-selectedTags-td{
    display: flex;
    /* border: 1px solid black; */
    width: 25vw;
    overflow-x: scroll;
}
select{
    border: 1px solid #e3e3e3;
}
select:focus{
    outline: none;
    border: 1px solid #e3e3e3;
}
.excel-selectedTags-td::-webkit-scrollbar{
    display: none;
}
.excel-selectedTags-cancel-btn{
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
}